<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/user/logInUser" method="post">

        <label>Mail:</label>
        <input type="email" name="email">

        <label>Mot de passe:</label>
        <input type="password" name="password">

        <button type="submit">Se connecter</button>

    </form>
</body>
</html>