<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
</head>

<body>
    <form action="/user/addUser" method="post">
        <label>Prénom:</label>
        <input type="text" name="prenom">
        <label>Mail</label>
        <input type="email" name="email">
        <label>Mot de passe:</label>
        <input type="password" name="password">

        <button type="submit">AJOUTER</button>

    </form>
</body>

</html>